.ppvx_selection-group___3-16-4 {
  box-sizing: border-box;
  border-style: none;
  padding: 0;
  text-align: left;
}
.ppvx_selection-group__buttons___3-16-4 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 18rem;
}
.ppvx_selection-group__label___3-16-4 {
  font-family: PayPalSansBig-Regular, Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  display: block;
  color: #2c2e2f;
  margin-bottom: 0.75rem;
  /* Adding class prefix to workaround build changes in pp-react. Note: Do not rely on this, will be removed in next major release */
}
.ppvx_selection-group__label___3-16-4 .ppvx_icon___3-16-4,
.ppvx_selection-group__label___3-16-4 > [class^='ppvx_icon___'] {
  color: #0070ba;
  position: relative;
  top: 0.125rem;
  margin-left: 0.75rem;
}
.ppvx_selection-group__helper-text___3-16-4 {
  font-family: PayPalSansBig-Regular, Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  display: block;
  list-style: none;
  padding-left: 0;
  color: #687173;
  margin: 0.5rem 0 0 0;
}
.ppvx_selection-group__error-text___3-16-4 {
  font-family: PayPalSansBig-Regular, Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #2c2e2f;
  margin: 0.5rem 0 0 0;
  display: flex;
}
.ppvx_selection-group__error-text___3-16-4:before {
  content: '\E91A';
}
.ppvx_selection-group__error-text___3-16-4:before {
  /* stylelint-disable declaration-no-important */
  /* using !important to prevent issues with browser extensions that change fonts */
  font-family: 'PPUI-Icons' !important;
  /* stylelint-enable declaration-no-important */
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  font-size: 1.125rem;
}
.ppvx_selection-group__error-text___3-16-4:before,
.ppvx_selection-group__error-text___3-16-4 .ppvx_selection-group__error-icon___3-16-4 {
  color: #d20000;
  margin-right: 0.75rem;
  margin-left: initial;
}
[dir='rtl'] .ppvx_selection-group__error-text___3-16-4:before,
[dir='rtl'] .ppvx_selection-group__error-text___3-16-4 .ppvx_selection-group__error-icon___3-16-4 {
  margin-left: 0.75rem;
  margin-right: initial;
}
.ppvx_selection-group__buttons--center___3-16-4 {
  justify-content: center;
}
.ppvx_selection-group__buttons--justify___3-16-4 {
  justify-content: stretch;
}
.ppvx_selection__control___3-16-4 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  /* We're hiding these so no need to use rems */
  width: 1px;
  height: 1px;
}
.ppvx_selection__label___3-16-4 {
  font-family: PayPalSansBig-Regular, Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  display: block;
  background-color: #ffffff;
  color: #0070ba;
  padding: 0.9375rem 1.5rem 0.9375rem 1.5rem;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-style: solid;
  border-color: #909697;
  border-width: 0.0625rem;
  position: relative;
}
.ppvx_selection__label___3-16-4:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(44, 46, 47, 0.08) 80%, rgba(44, 46, 47, 0.08) 100%), none;
  background-size: 100% 500%;
  background-position: 0 100%;
  transition: background-position 0.3s ease-in-out;
}
.ppvx_selection__label___3-16-4:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(44, 46, 47, 0.12) 80%, rgba(44, 46, 47, 0.12) 100%), none;
  background-size: 100% 500%;
  background-position: 0 100%;
  transition: background-position 0.3s ease-in-out;
}
.ppvx_selection-group__buttons--justify___3-16-4 .ppvx_selection__label___3-16-4 {
  flex: 1 0 auto;
}
.ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4 {
  outline: none;
}
.ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:after {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: -0.0625rem;
  right: 0;
  border: 0.125rem solid #0070ba;
  box-shadow: 0 0 0 0.25rem #bfdbee;
  border-radius: inherit;
  text-indent: 0.0625rem;
  width: calc(100% + 0.125rem);
  height: calc(100% + 0.125rem);
  pointer-events: none;
  z-index: 1;
  border-radius: 0.25rem;
}
.ppvx_selection__control___3-16-4:checked + .ppvx_selection__label___3-16-4 {
  background-color: #0070ba;
  color: #ffffff;
  border-color: #0070ba;
  -webkit-text-stroke-width: 0.0421875rem;
  z-index: 1;
}
.ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4 {
  border-radius: 0.25rem;
}
.secondary-style___3-16-4 {
  color: #0070ba;
  border-color: #0070ba;
  border-width: 0.1875rem;
  padding: 0.8125rem 1.375rem;
  z-index: 1;
}
.ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4,
.ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:focus + .ppvx_selection__label___3-16-4,
.ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4 {
  background-color: #e4f1fb;
  color: #0070ba;
  border-color: #0070ba;
  border-width: 0.1875rem;
  padding: 0.8125rem 1.375rem;
  z-index: 1;
}
.ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:focus + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:after {
  content: '';
  position: absolute;
  top: -0.1875rem;
  left: -0.1875rem;
  border: 0.1875rem solid #0070ba;
  border-radius: 0.25rem;
  text-indent: -0.1875rem;
  width: calc(100% - -0.375rem);
  height: calc(100% - -0.375rem);
  pointer-events: none;
}
.ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:focus + .ppvx_selection__label___3-16-4 {
  color: #0070ba;
  border-color: #0070ba;
  border-width: 0.1875rem;
  padding: 0.8125rem 1.375rem;
  z-index: 1;
}
.ppvx_field--error___3-16-4 .ppvx_selection-group__label___3-16-4 {
  color: #2c2e2f;
}
.ppvx_field--error___3-16-4 .ppvx_selection__label___3-16-4 {
  border-width: 0.125rem;
  border-color: #d20000;
  padding: 0.875rem 1.375rem;
}
.ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4:checked + .ppvx_selection__label___3-16-4 {
  border-color: #d20000;
  z-index: 1;
}
.ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
  border-left: 0.0625rem solid #909697;
  border-right: 0.0625rem solid #909697;
}
[dir='rtl'] .ppvx_selection-group___3-16-4 {
  text-align: right;
}
[dir='rtl'].ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type),
[dir='rtl'] .ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
  margin-right: -0.25rem;
  margin-left: 0.125rem;
  border-right: 0.0625rem solid #909697;
}
[dir='rtl'].ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:last-of-type),
[dir='rtl'] .ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:last-of-type) {
  margin-left: 0.125rem;
}
[dir='rtl'].ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type,
[dir='rtl'] .ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type,
[dir='rtl'].ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type,
[dir='rtl'] .ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
  border-left: 0.125rem solid #d20000;
}
.ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
  border-right: 0.125rem solid #d20000;
}
/*
 * Multi select is easy: just don't add a margin after the last item
 */
/*
 * Single is trickier: neighbors share a border, which means that
 * only the first item rounds its left corners and only the last one
 * rounds its right ones.
 */
.ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:not(:last-of-type) {
  margin-right: 0.75rem;
}
[dir='rtl'] .ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:not(:first-of-type) {
  border: 0.125rem solid #d20000;
}
.ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:not(:first-of-type) {
  border: 0.125rem solid #d20000;
  padding: 0.875rem 1.25rem 0.875rem 1.375rem;
}
[dir='rtl'] .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:not(:last-of-type) {
  margin-right: 0;
  margin-left: 0.75rem;
}
.ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
  margin-left: -0.125rem;
}
.ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
[dir='rtl'] .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
  margin-right: -0.0625rem;
  margin-left: 0;
}
[dir='rtl'] .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
[dir='rtl'] .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--vertical___3-16-4 {
  flex-direction: column;
  min-width: auto;
}
.ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:not(:last-of-type) {
  margin: 0;
  margin-bottom: 0.5625rem;
}
.ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
  margin: 0;
  margin-top: -0.0625rem;
}
.ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
  border-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
@media (max-width: 25rem) {
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-xs___3-16-4 {
    flex-direction: column;
    min-width: auto;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-xs___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:not(:last-of-type) {
    margin: 0;
    margin-bottom: 0.5625rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-xs___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
    margin: 0;
    margin-top: -0.0625rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-xs___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-xs___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
    border-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .ppvx_selection__label___3-16-4 {
    margin-bottom: 0.75rem;
  }
  .ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
    margin-bottom: 0;
  }
  .ppvx_selection-group__error-text___3-16-4 {
    margin-top: -0.25rem;
  }
  .ppvx_selection-group__helper-text___3-16-4 {
    margin-top: -0.25rem;
  }
}
@media (max-width: 36rem) {
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 {
    flex-direction: column;
    min-width: auto;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:not(:last-of-type) {
    margin: 0;
    margin-bottom: 0.5625rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
    margin: 0;
    margin-top: -0.0625rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
    border-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .ppvx_selection__label___3-16-4 {
    margin-bottom: 0.75rem;
  }
  .ppvx_selection-group__error-text___3-16-4 {
    margin-top: -0.25rem;
  }
  .ppvx_selection-group__helper-text___3-16-4 {
    margin-top: -0.25rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
    margin-bottom: 0;
  }
  .ppvx_selection-group__buttons--justify___3-16-4 {
    margin-bottom: 0;
  }
}
@media (max-width: 47rem) {
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-md___3-16-4 {
    flex-direction: column;
    min-width: auto;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-md___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:not(:last-of-type) {
    margin: 0;
    margin-bottom: 0.5625rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-md___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:not(:first-of-type) {
    margin: 0;
    margin-top: -0.0625rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-md___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-md___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:last-of-type {
    border-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .ppvx_selection__label___3-16-4 {
    margin-bottom: 0.75rem;
  }
  .ppvx_selection-group__error-text___3-16-4 {
    margin-top: -0.25rem;
  }
  .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:first-of-type {
    margin-bottom: 0;
  }
  .ppvx_selection-group__buttons--justify___3-16-4 {
    margin-bottom: 0;
  }
}
.ppvx_selection-group__error-text--with-svg-icon___3-16-4:before {
  display: none;
}
/* ---------------- 2.0 variants ------------------ */
@media (max-width: 25rem) {
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-xs___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4,
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-xs___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4 {
    margin: 0.75rem 0 0 0;
    border-radius: 0.375rem;
  }
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label___3-16-4 {
    margin-bottom: 0;
  }
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__helper-text___3-16-4 {
    margin-top: 0.5rem;
  }
}
@media (max-width: 36rem) {
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4,
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-sm___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4 {
    margin: 0.75rem 0 0 0;
    border-radius: 0.375rem;
  }
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label___3-16-4 {
    margin-bottom: 0;
  }
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__helper-text___3-16-4 {
    margin-top: 0.5rem;
  }
}
@media (max-width: 47rem) {
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-md___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4,
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4.ppvx_selection-group__buttons--responsive-md___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4 {
    margin: 0.75rem 0 0 0;
    border-radius: 0.375rem;
  }
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label___3-16-4 {
    margin-bottom: 0;
  }
  .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__helper-text___3-16-4 {
    margin-top: 0.5rem;
  }
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4),
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) {
  /** Secondary Styles **/
  /** Error field Styles **/
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label___3-16-4 {
  box-shadow: 0rem 0rem 0.125rem rgba(0, 0, 0, 0.04), 0rem 0.0625rem 0.75rem rgba(0, 0, 0, 0.08);
  color: #0c0c0d;
  font-family: PayPalSansBig-Regular, Helvetica Neue, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: normal;
  padding: 0.375rem 1.5rem 0.375rem 1.5rem;
  border-color: #ffffff;
  border-radius: 0.375rem;
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3.75rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label___3-16-4:hover {
  background: #ffffff;
  border-color: #1040c1;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4 {
  margin-left: 0;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4 {
  margin-left: 0;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 {
  /* When flex wrap happens need to add margin-top for spacing between the labels */
  margin-top: -0.75rem;
  margin-right: -0.75rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4 {
  margin-top: 0.75rem;
  margin-right: 0.75rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons--vertical___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons--vertical___3-16-4 {
  margin-top: 0;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__label___3-16-4:not(:last-of-type),
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__label___3-16-4:not(:last-of-type) {
  margin: 0;
  margin-bottom: 0.75rem;
  border-radius: 0.375rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__label___3-16-4:last-of-type,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons--vertical___3-16-4 .ppvx_selection__label___3-16-4:last-of-type {
  border-radius: 0.375rem;
  margin: 0;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4 {
  -webkit-text-stroke-width: inherit;
  background-color: #142c8e;
  color: #ffffff;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:hover {
  border-color: #ffffff;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:after {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: -0.0625rem;
  right: 0;
  border: 0.1875rem solid #142c8e;
  box-shadow: 0 0 0 0.375rem rgba(16, 114, 235, 0.16);
  border-radius: 0.375rem;
  text-indent: 0.0625rem;
  width: calc(100% + 0.125rem);
  height: calc(100% + 0.125rem);
  pointer-events: none;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label--secondary-label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__label--secondary-label___3-16-4 {
  color: #515354;
  font-family: PayPalSansBig-Regular, Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4:checked + .ppvx_selection__label___3-16-4 .ppvx_selection__label--secondary-label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection__control___3-16-4:checked + .ppvx_selection__label___3-16-4 .ppvx_selection__label--secondary-label___3-16-4 {
  color: #ffffff;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__helper-text___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__helper-text___3-16-4 {
  color: #515354;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4 {
  background-color: #ffffff;
  color: #1040c1;
  border-color: #1040c1;
  border-width: 0.0625rem;
  -webkit-text-stroke-width: 0.0421875rem;
  padding: 0.375rem 1.5rem 0.375rem 1.5rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:hover {
  border: 0.0625rem solid #1040c1;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:after,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:after {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: -0.0625rem;
  border: 0.1875rem solid #1040c1;
  border-radius: 0.375rem;
  text-indent: 0.0625rem;
  width: calc(100% + 0.125rem);
  height: calc(100% + 0.125rem);
  pointer-events: none;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4 {
  color: #0c0c0d;
  border-width: 0.0625rem;
  padding: 0.375rem 1.5rem 0.375rem 1.5rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:hover {
  border: 0.0625rem solid #1040c1;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:after {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: -0.0625rem;
  border: 0.1875rem solid #1040c1;
  border-radius: 0.375rem;
  text-indent: 0.0625rem;
  width: calc(100% + 0.125rem);
  height: calc(100% + 0.125rem);
  pointer-events: none;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:checked + .ppvx_selection__label___3-16-4 .ppvx_selection__label--secondary-label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_selection-group--secondary___3-16-4 .ppvx_selection__control___3-16-4:checked + .ppvx_selection__label___3-16-4 .ppvx_selection__label--secondary-label___3-16-4 {
  color: #1040c1;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__label___3-16-4 {
  background-color: #ffffff;
  border-color: #d9360b;
  padding: 0.375rem 1.375rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4 {
  border: 0.125rem solid #d9360b;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio'] + .ppvx_selection__label___3-16-4:hover,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox'] + .ppvx_selection__label___3-16-4:hover {
  border: 0.125rem solid #1040c1;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4 {
  padding: 0.3125rem 1.3125rem;
  border: 0.1875rem solid #d9360b;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:hover,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:hover {
  border: 0.1875rem solid #d9360b;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='radio']:checked + .ppvx_selection__label___3-16-4:after,
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4[type='checkbox']:checked + .ppvx_selection__label___3-16-4:after {
  border: none;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4 {
  padding: 0.375rem 1.375rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:after,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection__control___3-16-4:focus + .ppvx_selection__label___3-16-4:after {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: -0.0625rem;
  right: 0;
  border: 0 solid #0070ba;
  box-shadow: 0 0 0 0.5rem rgba(217, 54, 11, 0.16);
  border-radius: 0.375rem;
  text-indent: 0.0625rem;
  width: calc(100% + 0.125rem);
  height: calc(100% + 0.125rem);
  pointer-events: none;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection-group__error-text--with-svg-icon___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection-group__error-text--with-svg-icon___3-16-4 {
  display: flex;
  align-items: center;
  color: #515354;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}
.ppvx--v2___3-16-4 .ppvx_selection-group___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection-group__error-text--with-svg-icon___3-16-4 .ppvx_selection-group__error-icon___3-16-4,
.ppvx_selection-group___3-16-4.ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection-group__error-text--with-svg-icon___3-16-4 .ppvx_selection-group__error-icon___3-16-4 {
  margin-right: 0.25rem;
  color: #d9360b;
}
[dir='rtl'] .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4,
[dir='rtl'].ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4,
.ppvx--v2___3-16-4 [dir='rtl']:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 {
  margin-right: 0;
  margin-left: -0.75rem;
}
[dir='rtl'] .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4:not(:last-of-type),
[dir='rtl'].ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4:not(:last-of-type),
.ppvx--v2___3-16-4 [dir='rtl']:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4:not(:last-of-type) {
  margin-right: 0;
  margin-left: 0.75rem;
  border-radius: 0.375rem;
}
[dir='rtl'] .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4:last-of-type,
[dir='rtl'].ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4:last-of-type,
.ppvx--v2___3-16-4 [dir='rtl']:not(.ppvx--v1___3-16-4) .ppvx_selection-group__buttons___3-16-4 .ppvx_selection__label___3-16-4:last-of-type {
  margin-right: 0;
  margin-left: 0.75rem;
  border-radius: 0.375rem;
}
[dir='rtl'] .ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection-group__error-text--with-svg-icon___3-16-4 .ppvx_selection-group__error-icon___3-16-4,
[dir='rtl'].ppvx--v2___3-16-4:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection-group__error-text--with-svg-icon___3-16-4 .ppvx_selection-group__error-icon___3-16-4,
.ppvx--v2___3-16-4 [dir='rtl']:not(.ppvx--v1___3-16-4).ppvx_field--error___3-16-4 .ppvx_selection-group__error-text--with-svg-icon___3-16-4 .ppvx_selection-group__error-icon___3-16-4 {
  margin-right: 0;
  margin-left: 0.25rem;
}

.ppvx_search-input___1-1-25 .ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25 {
  border-radius: 4rem;
  padding-left: 3.6875rem;
}
.ppvx_search-input___1-1-25 .ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25:not(:focus) {
  border-color: #909191;
  box-shadow: none;
}
.ppvx_search-input___1-1-25 .ppvx_search-input__label___1-1-25.ppvx_search-input__label___1-1-25 {
  left: 3.75rem;
}
.ppvx_search-input___1-1-25 .ppvx_search-input__left-icon___1-1-25 {
  left: 1.5rem;
}
.ppvx_search-input--error___1-1-25 .ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25 {
  padding: 1.125rem 3.625rem 1.125rem 3.625rem;
}
.ppvx_search-input--error___1-1-25 .ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25:not(:focus) {
  border-color: #d9360b;
  box-shadow: none;
}
[dir='rtl'] .ppvx_search-input___1-1-25 .ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25.ppvx_search-input__input___1-1-25 {
  padding-right: 3.6875rem;
}
[dir='rtl'] .ppvx_search-input___1-1-25 .ppvx_search-input__label___1-1-25.ppvx_search-input__label___1-1-25 {
  right: 3.75rem;
}
[dir='rtl'] .ppvx_search-input___1-1-25 .ppvx_search-input__left-icon___1-1-25 {
  right: 1.5rem;
}


/*# sourceMappingURL=default~contact-list~guest~pay-request-success~request-page~request-preview~send-page~send-success~u~7ad91990.css.map*/